@import "../runo/legacy-styles.css";

.v-label-desc {
	color: green;
}

.object-preview .v-label {
	font-size: 14px;
}

.object-preview .v-caption {
	font-size: 12px;
}

.object-preview .textArea {
	width: 300px;
	white-space: normal;
}

.v-label-desc pre {
	font-family: 'Trebuchet MS', geneva, helvetica, arial, tahoma, verdana, sans-serif;
}